BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
ColumnLimit: 100
IndentWidth: 2
AccessModifierOffset: -2
NamespaceIndentation: None
SortIncludes: CaseSensitive
DerivePointerAlignment: false
PointerAlignment: Left
